# Data Layer
研究一下Qlib的data接口怎么用，怎么看data

## 几个基本的、常用的接口

- `D.calendar()`: 获取交易日历，默认是从数据库的最早时间到最晚时间，如果future=True，就一直到当前年年底。start_time=None, end_time=None, freq="day", future=False
- `D.instruments()`： 获取一个stock pool config，默认market='all'。market="all", filter_pipe=None
- `D.list_instruments(instruments=xxx)`: 列出符合某个stock pool config的股票列表（或者字典），如果as_list=True就是返回列表，否则就是字典，字典的值条目应该是那个股票上市的时间段。instruments, start_time=None, end_time=None, freq="day", as_list=False

**使用filter_pipe来构建stock pool config：**

In [53]:
import qlib
qlib.init(provider_uri='~/.qlib/qlib_data/cn_data') # 使用现成的那个库

[28000:MainThread](2021-12-11 00:19:23,824) INFO - qlib.Initialization - [config.py:393] - default_conf: client.
[28000:MainThread](2021-12-11 00:19:23,846) INFO - qlib.Initialization - [__init__.py:57] - qlib successfully initialized based on client settings.
[28000:MainThread](2021-12-11 00:19:23,847) INFO - qlib.Initialization - [__init__.py:59] - data_path={'__DEFAULT_FREQ': WindowsPath('C:/Users/chen/.qlib/qlib_data/cn_data')}

In [54]:
data_handler_config = {
    "start_time": "2008-01-01",
    "end_time": "2020-08-01",
    "fit_start_time": "2008-01-01",
    "fit_end_time": "2014-12-31",
    "instruments": "csi300",
}

In [55]:
from qlib.contrib.data.handler import Alpha158

h = Alpha158(**data_handler_config)

[28000:MainThread](2021-12-11 00:24:22,814) INFO - qlib.timer - [log.py:113] - Time cost: 5.032s | Loading data Done
[28000:MainThread](2021-12-11 00:24:23,466) INFO - qlib.timer - [log.py:113] - Time cost: 0.552s | DropnaLabel Done
C:\Users\chen\.conda\envs\ml-finance\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
[28000:MainThread](2021-12-11 00:24:27,324) INFO - qlib.timer - [log.py:113] - Time cost: 3.856s | CSZScoreNorm Done
[28000:MainThread](2021-12-11 00:24:27,358) INFO - qlib.timer - [log.py:113] - Time cost: 4.543s | fit & process data Done
[28000:MainThread](2021-12-11 00:24:27,358) INFO - qlib.timer - [log.py:113] - Time cost: 9.577s | Init data Done

In [59]:
h.fetch(col_set="feature")

                           KMID      KLEN     KMID2       KUP      KUP2  \
datetime   instrument
2008-01-02 SH600000    0.010377  0.061132  0.169754  0.028302  0.462962
           SH600004    0.057279  0.059666  0.960000  0.002387  0.040000
           SH600006    0.012673  0.040323  0.314285  0.008065  0.200000
           SH600007    0.066977  0.084186  0.795579  0.007907  0.093923
           SH600008    0.051163  0.082326  0.621469  0.027907  0.338984
...                         ...       ...       ...       ...       ...
2020-07-31 SZ300413    0.011740  0.040868  0.287273  0.018874  0.461818
           SZ300433    0.030103  0.048604  0.619354  0.014111  0.290324
           SZ300498   -0.003356  0.023490 -0.142858  0.012164  0.517855
           SZ300601    0.008080  0.067009  0.120586  0.013750  0.205197
           SZ300628   -0.013750  0.040312 -0.341085  0.017187  0.426356

                           KLOW     KLOW2      KSFT     KSFT2     OPEN0  ...  \
datetime   instrument                                                    ...
2008-01-02 SH600000    0.022453  0.367285  0.004528  0.074077  0.989729  ...
           SH600004    0.000000  0.000000  0.054893  0.920001  0.945824  ...
           SH600006    0.019585  0.485715  0.024194  0.600000  0.987486  ...
           SH600007    0.009302  0.110498  0.068372  0.812153  0.937228  ...
           SH600008    0.003256  0.039547  0.026512  0.322033  0.951327  ...
...                         ...       ...       ...       ...       ...  ...
2020-07-31 SZ300413    0.010254  0.250909  0.003121  0.076364  0.988396  ...
           SZ300433    0.004390  0.090322  0.020382  0.419352  0.970776  ...
           SZ300498    0.007970  0.339287 -0.007550 -0.321425  1.003367  ...
           SZ300601    0.045179  0.674217  0.039509  0.589605  0.991984  ...
           SZ300628    0.009375  0.232558 -0.021562 -0.534883  1.013942  ...

                         VSUMN5   VSUMN10   VSUMN20   VSUMN30   VSUMN60  \
datetime   instrument
2008-01-02 SH600000    0.511174  0.550639  0.490807  0.485962  0.510337
           SH600004    0.183366  0.328894  0.392360  0.423984  0.514932
           SH600006    0.532032  0.522838  0.433405  0.494553  0.524930
           SH600007    0.060973  0.242611  0.291541  0.352613  0.420448
           SH600008    0.258609  0.425714  0.381852  0.400486  0.469882
...                         ...       ...       ...       ...       ...
2020-07-31 SZ300413    0.712369  0.559005  0.514765  0.531086  0.492531
           SZ300433    0.499998  0.508023  0.507246  0.467712  0.490444
           SZ300498    0.772614  0.565064  0.523422  0.489674  0.491646
           SZ300601    0.231064  0.265613  0.387342  0.425360  0.465201
           SZ300628    0.537052  0.510992  0.482686  0.511605  0.508130

                         VSUMD5   VSUMD10   VSUMD20   VSUMD30   VSUMD60
datetime   instrument
2008-01-02 SH600000   -0.022349 -0.101278  0.018386  0.028076 -0.020675
           SH600004    0.633267  0.342211  0.215280  0.152031 -0.029863
           SH600006   -0.064064 -0.045677  0.133190  0.010894 -0.049861
           SH600007    0.878055  0.514779  0.416918  0.294774  0.159104
           SH600008    0.482783  0.148572  0.236296  0.199027  0.060235
...                         ...       ...       ...       ...       ...
2020-07-31 SZ300413   -0.424739 -0.118010 -0.029530 -0.062173  0.014938
           SZ300433    0.000004 -0.016046 -0.014492  0.064577  0.019113
           SZ300498   -0.545229 -0.130127 -0.046844  0.020651  0.016708
           SZ300601    0.537872  0.468775  0.225316  0.149280  0.069599
           SZ300628   -0.074103 -0.021985  0.034628 -0.023210 -0.016260

[909996 rows x 158 columns]

In [8]:
from qlib.data import D
D.calendar()

array([Timestamp('2005-01-04 00:00:00'), Timestamp('2005-01-05 00:00:00'),
       Timestamp('2005-01-06 00:00:00'), ...,
       Timestamp('2021-06-09 00:00:00'), Timestamp('2021-06-10 00:00:00'),
       Timestamp('2021-06-11 00:00:00')], dtype=object)

In [14]:
D.calendar(future=True) # D.calendar最多返回到年底的

array([Timestamp('2005-01-04 00:00:00'), Timestamp('2005-01-05 00:00:00'),
       Timestamp('2005-01-06 00:00:00'), ...,
       Timestamp('2021-12-29 00:00:00'), Timestamp('2021-12-30 00:00:00'),
       Timestamp('2021-12-31 00:00:00')], dtype=object)

# 获取某市场中的满足一些要求的股票

使用 NameDFilter 和 ExpressionFilter

In [21]:
from qlib.data import D
from qlib.data.filter import NameDFilter

In [24]:
nameDFilter = NameDFilter(name_rule_re='SH[0-9]{4}55') # 使用NameDFilter

In [25]:
D.instruments(market='csi300', filter_pipe=[nameDFilter])

{'market': 'csi300',
 'filter_pipe': [{'filter_type': 'NameDFilter',
   'name_rule_re': 'SH[0-9]{4}55',
   'filter_start_time': None,
   'filter_end_time': None}]}

In [27]:
instruments = D.instruments(market='csi300', filter_pipe=[nameDFilter])
D.list_instruments(instruments=instruments, start_time='2015-01-01', end_time='2016-02-15', as_list=True)

['SH600655', 'SH601555']

In [18]:
instruments = D.instruments(market='csi300') # 如何显示所有可用的market？或者在哪能看到？

In [36]:
from qlib.data import D
from qlib.data.filter import ExpressionDFilter
expressionDFilter = ExpressionDFilter(rule_expression='$close>2000')
instruments = D.instruments(market='csi300', filter_pipe=[expressionDFilter])
resList = D.list_instruments(instruments=instruments, as_list=True)
# TODO - 研究一下这里，为什么重复调用也时间很长？不是有Datacache吗？我的redis服务器应该已经起作用了呀
# 我知道了，D.list_instruments不会使用到ExpressionCache和DataCache，因为按理说这个不会反复调用；但是D.features就会使用到ExpressionCache和DataCache

In [32]:
len(resList)

42

表达式直接在fields列表里面输入就行

In [33]:
from qlib.data import D
instruments = ['SH600000']
fields = ['$close', '$volume', 'Ref($close, 1)', 'Mean($close, 3)', '$high-$low']
D.features(instruments, fields, start_time='2010-01-01', end_time='2017-12-31', freq='day').head()

                         $close      $volume  Ref($close, 1)  Mean($close, 3)  \
instrument datetime
SH600000   2010-01-04  7.633673  183737824.0        7.813797         7.746551
           2010-01-05  7.691313  319634432.0        7.633673         7.712927
           2010-01-06  7.540009  268654752.0        7.691313         7.621665
           2010-01-07  7.370692  236603296.0        7.540009         7.534005
           2010-01-08  7.453549  182395152.0        7.370692         7.454750

                       $high-$low
instrument datetime
SH600000   2010-01-04    0.255776
           2010-01-05    0.284597
           2010-01-06    0.151305
           2010-01-07    0.266583
           2010-01-08    0.180124

In [34]:
from qlib.data import D
from qlib.data.filter import NameDFilter, ExpressionDFilter
nameDFilter = NameDFilter(name_rule_re='SH[0-9]{4}55')
expressionDFilter = ExpressionDFilter(rule_expression='$close>Ref($close,1)')
instruments = D.instruments(market='csi300', filter_pipe=[nameDFilter, expressionDFilter])
fields = ['$close', '$volume', 'Ref($close, 1)', 'Mean($close, 3)', '$high-$low']
D.features(instruments, fields, start_time='2010-01-01', end_time='2017-12-31', freq='day').head()

                          $close     $volume  Ref($close, 1)  Mean($close, 3)  \
instrument datetime
SH600655   2010-01-04  11.220483  38060176.0       10.885898        10.915109
           2010-01-08  10.858016  18646274.0       10.742505        10.903158
           2010-01-11  11.276244  38699916.0       10.858016        10.958921
           2010-01-12  11.590913  39598644.0       11.276244        11.241724
           2010-01-13  11.598879  34996700.0       11.590913        11.488679

                       $high-$low
instrument datetime
SH600655   2010-01-04    0.517807
           2010-01-08    0.346533
           2010-01-11    0.609419
           2010-01-12    0.533740
           2010-01-13    0.533740

In [51]:
# 重复调用很快
from qlib.data import D
from qlib.data.filter import NameDFilter, ExpressionDFilter
nameDFilter = NameDFilter(name_rule_re='SH[0-9]{4}55')
expressionDFilter = ExpressionDFilter(rule_expression='$close>Ref($close,1)')
instruments = D.instruments(market='csi300', filter_pipe=[nameDFilter, expressionDFilter])
fields = ['$close', '$volume', 'Ref($close, 1)', 'Mean($close, 3)', '$high-$low']
D.features(instruments, fields, start_time='2010-01-01', end_time='2017-12-31', freq='day').head()

                          $close     $volume  Ref($close, 1)  Mean($close, 3)  \
instrument datetime
SH600655   2010-01-04  11.220483  38060176.0       10.885898        10.915109
           2010-01-08  10.858016  18646274.0       10.742505        10.903158
           2010-01-11  11.276244  38699916.0       10.858016        10.958921
           2010-01-12  11.590913  39598644.0       11.276244        11.241724
           2010-01-13  11.598879  34996700.0       11.590913        11.488679

                       $high-$low
instrument datetime
SH600655   2010-01-04    0.517807
           2010-01-08    0.346533
           2010-01-11    0.609419
           2010-01-12    0.533740
           2010-01-13    0.533740

In [52]:
D.features(instruments, fields, start_time='2010-01-01', end_time='2017-12-31', freq='day').shape

(1439, 5)